.appBar{
    background-color: #222222;
    display: flex;
    width: 100vw;
    height: 10%;
    
    &__boxRigth {
        align-items: center;
        height: 100%;
        width: 50%;
    }
    &__boxLeft {
        height: 100%;
        width: 50%;
    }
}